#########ET1###########
ET1/python/src/__pycache__

ET1/b14/Partitioning_Flt_Dropping_AE
ET1/b14/Partitioning_Flt_Dropping_AU
ET1/b14/Partitioning_Flt_Dropping_DT
ET1/b14/Partitioning_Flt_Dropping_ND
ET1/b14/Partitioning_Flt_Dropping_PT
ET1/b14/Partitioning_Flt_Dropping_UD
ET1/b14/Partitioning_Stil
ET1/b14/Partitioning_XID
ET1/b14/b14_ET1.stil
ET1/b14/b14_FaultSim_Per_Patetrn_Dropping.tmx.log
ET1/tcl/b14_ET1.tcl.log


ET1/b15/Partitioning_Flt_Dropping_AE
ET1/b15/Partitioning_Flt_Dropping_AU
ET1/b15/Partitioning_Flt_Dropping_DT
ET1/b15/Partitioning_Flt_Dropping_ND
ET1/b15/Partitioning_Flt_Dropping_PT
ET1/b15/Partitioning_Flt_Dropping_UD
ET1/b15/Partitioning_Stil
ET1/b15/Partitioning_XID
ET1/b15/b15_ET1.stil
ET1/b15/b15_FaultSim_Per_Patetrn_Dropping.tmx.log
ET1/tcl/b15_ET1.tcl.log

ET1/b17/Partitioning_Flt_Dropping_AE
ET1/b17/Partitioning_Flt_Dropping_AU
ET1/b17/Partitioning_Flt_Dropping_DT
ET1/b17/Partitioning_Flt_Dropping_ND
ET1/b17/Partitioning_Flt_Dropping_PT
ET1/b17/Partitioning_Flt_Dropping_UD
ET1/b17/Partitioning_Stil
ET1/b17/Partitioning_XID
ET1/b17/b17_ET1.stil
ET1/b17/b17_FaultSim_Per_Patetrn_Dropping.tmx.log
ET1/tcl/b17_ET1.tcl.log

ET1/b18/Partitioning_Flt_Dropping_AE
ET1/b18/Partitioning_Flt_Dropping_AU
ET1/b18/Partitioning_Flt_Dropping_DT
ET1/b18/Partitioning_Flt_Dropping_ND
ET1/b18/Partitioning_Flt_Dropping_PT
ET1/b18/Partitioning_Flt_Dropping_UD
ET1/b18/Partitioning_Stil
ET1/b18/Partitioning_XID
ET1/b18/b18_ET1.stil
ET1/b18/b18_FaultSim_Per_Patetrn_Dropping.tmx.log
ET1/tcl/b18_ET1.tcl.log


ET1/b19/Partitioning_Flt_Dropping_AE
ET1/b19/Partitioning_Flt_Dropping_AU
ET1/b19/Partitioning_Flt_Dropping_DT
ET1/b19/Partitioning_Flt_Dropping_ND
ET1/b19/Partitioning_Flt_Dropping_PT
ET1/b19/Partitioning_Flt_Dropping_UD
ET1/b19/Partitioning_Stil
ET1/b19/Partitioning_XID
ET1/b19/b19_ET1.stil
ET1/b19/b19_FaultSim_Per_Patetrn_Dropping.tmx.log
ET1/tcl/b19_ET1.tcl.log


ET1/b20/Partitioning_Flt_Dropping_AE
ET1/b20/Partitioning_Flt_Dropping_AU
ET1/b20/Partitioning_Flt_Dropping_DT
ET1/b20/Partitioning_Flt_Dropping_ND
ET1/b20/Partitioning_Flt_Dropping_PT
ET1/b20/Partitioning_Flt_Dropping_UD
ET1/b20/Partitioning_Stil
ET1/b20/Partitioning_XID
ET1/b20/b20_ET1.stil
ET1/b20/b20_FaultSim_Per_Patetrn_Dropping.tmx.log
ET1/tcl/b20_ET1.tcl.log

ET1/b21/Partitioning_Flt_Dropping_AE
ET1/b21/Partitioning_Flt_Dropping_AU
ET1/b21/Partitioning_Flt_Dropping_DT
ET1/b21/Partitioning_Flt_Dropping_ND
ET1/b21/Partitioning_Flt_Dropping_PT
ET1/b21/Partitioning_Flt_Dropping_UD
ET1/b21/Partitioning_Stil
ET1/b21/Partitioning_XID
ET1/b21/b21_ET1.stil
ET1/b21/b21_FaultSim_Per_Patetrn_Dropping.tmx.log
ET1/tcl/b21_ET1.tcl.log

ET1/b22/Partitioning_Flt_Dropping_AE
ET1/b22/Partitioning_Flt_Dropping_AU
ET1/b22/Partitioning_Flt_Dropping_DT
ET1/b22/Partitioning_Flt_Dropping_ND
ET1/b22/Partitioning_Flt_Dropping_PT
ET1/b22/Partitioning_Flt_Dropping_UD
ET1/b22/Partitioning_Stil
ET1/b22/Partitioning_XID
ET1/b22/b22_ET1.stil
ET1/b22/b22_FaultSim_Per_Patetrn_Dropping.tmx.log
ET1/tcl/b22_ET1.tcl.log
#########ET1###########


#
dc_netlist_parser/report/
dc_netlist_parser/script/

#
dc_netlist_parser/default.svf
dc_netlist_parser/command.log
dc_netlist_parser/b14/Partitioning_Stil
dc_netlist_parser/b14/Partitioning_Stil_Testbench
dc_netlist_parser/b14/Partitioning_Stil_Testbench_VCD
dc_netlist_parser/b14/b14_dump.v
dc_netlist_parser/b14/b14_signal_list.txt
dc_netlist_parser/b14/b14_FaultSim_Per_Pattern.tmx.log
dc_netlist_parser/python/src/__pycache__



